name: Sui-Prover Test Action

on: [pull_request]

jobs:
  build-and-run:
    runs-on: macos-latest
    env: 
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

    concurrency:
      group: ${{ github.head_ref || github.ref_name }}
      cancel-in-progress: true

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache Homebrew
        uses: actions/cache@v4
        with:
          path: |
            ~/Library/Caches/Homebrew
            /usr/local/Homebrew
            /opt/homebrew
          key: brew-macos-dotnet8-z3-rust

      - name: Install prover by formula
        run: brew install asymptotic-code/sui-prover/sui-prover

      - name: Run Tests
        run: |
          cd specs
          sui-prover -s 2
          cd ..
          cd specs-bv
          sui-prover -s 2 --no-bv-int-encoding
          echo "All tests passed!"
